-- 1. Create table office_locations
CREATE TABLE IF NOT EXISTS public.office_locations (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    name TEXT NOT NULL,
    lat FLOAT NOT NULL,
    lng FLOAT NOT NULL,
    radius INT NOT NULL DEFAULT 100,
    created_at TIMESTAMPTZ DEFAULT now()
);

-- 2. Enable RLS (allow all for simplicity or match existing pattern)
ALTER TABLE public.office_locations ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Enable read access for all users" ON public.office_locations FOR SELECT USING (true);
CREATE POLICY "Enable all access for all users" ON public.office_locations FOR ALL USING (true);

-- 3. Create junction table department_locations (Many-to-Many)
CREATE TABLE IF NOT EXISTS public.department_locations (
    department_id UUID NOT NULL REFERENCES public.departments(id) ON DELETE CASCADE,
    office_location_id UUID NOT NULL REFERENCES public.office_locations(id) ON DELETE CASCADE,
    created_at TIMESTAMPTZ DEFAULT now(),
    PRIMARY KEY (department_id, office_location_id)
);

-- 4. Enable RLS
ALTER TABLE public.department_locations ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Enable read access for all users" ON public.department_locations FOR SELECT USING (true);
CREATE POLICY "Enable all access for all users" ON public.department_locations FOR ALL USING (true);
